:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    margin: 60px auto;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

p {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

#contact {
    padding: 10px;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.about-paragraphs {
    display: flex;
    margin: 30px 0;
}

.about-paragraphs p {
    margin: 10px;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.appTitle, .appDesc {
    text-align: left;
}

.appTitle {
    padding-top: 10px;
}

.app-button {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    border-color: var(--primary-color);
    border-radius: 4px;
    padding: 20px 15px;
}

.app-text {
    background: none;
    padding: 0 0 0 2px;
    text-align: left;
}

.container {
    max-width: 800px;
    padding-bottom: 5px;
}

@media (max-width: 576px) {
    .homepageImg {
        display: none;
    }

    .appTitle {
        font-size: 35px;
        text-align: center;
    }

    .appDesc {
        font-size: 25px;
        text-align: center;
    }

    .app-button {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .wave {
        font-size: 22px;
    }

    .name {
        font-size: 30px;
    }   

    .aboutTitle {
       font-size: 35px;
    }

    .location {
        font-size: 16px;
    }

    .app-text {
        text-align: center;
        font-size: 14px;
    }

    #contact {
        padding-top: 5px;
    }

    #contact h2 {
        font-size: 22px;
    }

    #contact a {
        font-size: 18px;
    }
}